- if @address.errors.any?
  #error_explanation
    %h2
      = pluralize(@address.errors.count, "error")
      prohibited this adress from being saved:
    %ul
      - @address.errors.full_messages.each do |message|
        %li= message
.actions
%table.col-sm-12
  %tbody.address-block
    %tr.address-input
      %td.address-label
        =f.label "Name"
      %td.address-field
        =f.text_field :name
    %tr.address-input
      %td.address-label
        =f.label "Line 1"
      %td.address-field
        =f.text_field :line1
    %tr.address-input
      %td.address-label
        =f.label "Line 2"
      %td.address-field
        =f.text_field :line2
    %tr.address-input
      %td.address-label
        =f.label "City"
      %td.address-field
        =f.text_field :city
    %tr.address-input
      %td.address-label
        =f.label :state
      %td.address-field
        =f.select(:state_id, options_from_collection_for_select(State.all, :id, :name,  @address.state_id))
    %tr.address-input
      %td.address-label
        =f.label "Zipcode"
      %td.address-field
        =f.text_field :zip
.submit
  =f.submit