- if @credit_card.errors.any?
  #error_explanation
    %h2
      = pluralize(@credit_card.errors.count, "error")
      prohibited this credit card from being saved:
    %ul
      - @credit_card.errors.full_messages.each do |message|
        %li= message
.actions
%table.col-sm-12.bill-table
  %tbody.bill-body
    %tr.bill-row
      %td.bill-cc-name
        =f.label "Name on the card"
      %td.bill-cc-name
        =f.text_field :name
        %br
    %tr.bill-row
      %td.bill-cc-num
        =f.label "Credit Card Number"
      %td.bill-cc-num
        =f.text_field :number, value: (@credit_card.persisted? and @credit_card.number.nil?) ? "XXXXXXXXXXXX#{@credit_card.last_four}" : @credit_card.number
        %br
    %tr.bill-row
      %td.bill-exp-mon
        =f.label "Expiration Month"
      %td.bill-exp-mon
        =f.text_field :month
        %br
    %tr.bill-row
      %td.bill-exp-year
        =f.label "Expiration Year"
      %td.bill-exp-year
        =f.text_field :year
        %br
    %tr.bill-row
      %td.bill-cc-cvc
        =f.label "Credit Card Cvc"
      %td.bill-cc-cvc
        =f.text_field :cvc, value: (@credit_card.persisted? and @credit_card.cvc.nil?) ? "XXX" : @credit_card.cvc
        %br
.submit
  =f.submit