%h1 Cart#billing
.container
  =@credit_card.errors.inspect
  - if @credit_card.persisted?
    = form_for(@credit_card, method: :put, url: edit_cc_path(@credit_card.id)) do |f|
      =render partial: 'cc_form', locals: {f: f}
      .bottom_links
        = link_to 'Back', cart_address_path
  -else
    = form_for(@credit_card, url: add_cc_path) do |f|
      =render partial: 'cc_form', locals: {f: f}
      .bottom_links
        = link_to 'Back', cart_address_path