Welcome to example.com, #{@user.name}
===============================================

Successful order.  Turn on your email html features to see cooler emails.

To login to the site, just follow this link: #{@url}.

Thanks for ordering. and have a great day!