%h1 Checkout
.container{"ng-controller" => "CheckoutController"}
  .address_box.col-sm-4{"ng-init" => "address_init(#{current_user.address.to_json})"}
    %h3.checkout_label
      Address
    %div{'ng-if' => 'errors'}
      {{ errors }}
    %table
      %tbody.address_block
        %tr
          %td
            %label.check_address
              Name
          %td
            %input.address_input{"ng-model" => "address.name"}
        %tr
          %td
            %label.check_address
              Line 1
          %td
            %input.address_input{"ng-model" => "address.line1"}
        %tr
          %td
            %label.check_address
              Line 2
          %td
            %input.address_input{"ng-model" => "address.line2"}
        %tr
          %td
            %label.check_address
              City
          %td
            %input.address_input{"ng-model" => "address.city"}
        %tr
          %td
            %label.check_address
              State
          %td
            %select.address_input.form-control{"ng-model" => "address.state_id", "ng-options" => "state.id as state.name for state in states"}
        %tr
          %td
            %label.check_address
              Zipcode
          %td
            %input.address_input{"ng-model" => "address.zip"}
    %button.checkout_click{"ng-click" => "updateAddress()"}
      Update address
  .billing_box.col-sm-4{"ng-init" => "cc_init(#{current_user.credit_card.to_json})"}
    %h3.checkout_label
      Billing
    %div{'ng-if' => 'errors'}
      {{ errors }}
    %table
      %tbody.cc_block
        %tr
          %td
            %label.check_cc
              Name on card
          %td
            %input.address_input{"ng-model" => "cc.name"}
        %tr
          %td
            %label.check_cc
              Credit Card Number
          %td
            %input.address_input{"ng-model" => "cc.number", "placeholder" => "XXXXXXXXXXXX{{cc.last_four}}"}
        %tr
          %td
            %label.check_cc
              Expiration month
          %td
            %input.address_input{"ng-model" => "cc.month"}
        %tr
          %td
            %label.check_cc
              Expiration year
          %td
            %input.address_input{"ng-model" => "cc.year"}
        %tr
          %td
            %label.check_cc
              CVC
          %td
            %input.address_input{"ng-model" => "cc.cvc", "placeholder" => "XXX"}
    %button.checkout_click{"ng-click" => "updateBilling()"}
      Update billing
  .cart_box.col-sm-4{"ng-controller" => "CartController"}
    %h3.checkout_label
      Order Items
    %table
      %tr.col-headers
        %th.item
          Item
        %th.quantity
          Quantity
        %th.price
          Price
      %tr{"ng-repeat" => "item in cart.order_items", "ng-controller" => "ItemController"}
        %td.item
          {{item.source.name}}
        %td.quantity
          .form-group
            %select.form-control{"ng-model" => "item.quantity", "ng-change" => "add_product(item)", "ng-options" => "num for num in arr"}
        %td.price
          {{(item.source.price)*(item.quantity) | currency}}
      %tr
        %td.item.total
          Total:
        %td.quantity.total
          {{cart.product_count}}
        %td.price.total
          {{total() | currency}}
    %button.checkout_click{"ng-click" => "place_order()"}
      Place order


.thing
=console