%h1 Welcome to Ye Olde Ice Cream Tree Shoppe!
.container
  .side_menu_thing.col-sm-2
    This is where a side menu would go.
  .placeholder.col-sm-1
  .place_for_front_page_content.col-sm-9
    This is where all the front page content could go.
    %br
    .products-link= link_to "Products", products_path
.container
  .footer_menu.col-sm-3
    %ul
      %li
        Link to stuff
      %li
        Link to stuff
      %li
        Link to stuff
  .footer_menu.col-sm-6
    %ul
      %li
        Link to Twitter
      %li
        Link to Facebook
      %li
        Link to Instagram
  .footer_menu.col-sm-3
    %ul
      %li
        Link to stuff
      %li
        Link to stuff
      %li
        Link to stuff