// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.container{
  width: 996px;
  background-color: #fafafa;
}

h1{
  text-align: center;
}

table {
  width: 90%;
  margin: 0 auto;
  tbody {
    tr:nth-child(odd) {
      background: $secondary;
    }
    tr:nth-child(even) {
      background: $primary;
    }
    tr {
      height: 40px;
      width: 100%;
      text-align: center;
      td {
        height: 20px;
      }
      .admin_link {
        width: 10%;
        float: right;
        font-size: 15px;
      }
      .product_name {
        font-size: 20px;
        width: 50%;
        float: left;
        padding-left: 20px;
        text-align: left;
      }
    }
  }
}

.bottom_links{
  text-align: center;
  margin: 0 auto;
  clear: both;
}


.form_label{
  min-width: 20%;
  max-width: 30%;
  height: 100px;
  text-align: center;
  margin: 10px auto;
}

.description{
  margin: 0 auto;
  clear: both;
  #product_description{
    width: 100%;
    height: 100px;
  }
}

.image_box{
  width: 996px;
  max-width: 100%;
  margin: 0 auto;
  img{

    max-width: 100%;
  }
}

.submit input{
  display: block;
  margin: 0 auto;
  clear: both;
}

#notice {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  color: #376002;
}