/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

.notice{
  text-align: center;
  margin: 0 auto;
  color: $tertiary;
}

.container{
  background: $primary;
}

body{
  color: $primary-font;
  background: $secondary;
}


.bgImage{
  height: 250px;
  max-width: 100%;
  background: image-url('icecreameating.jpg') center;
  background-size: cover;
  .name{
    text-align: center;
    margin: 0 auto;
    a {
      font-family: 'Cabin Sketch', cursive;
      line-height: 300px;
      font-size: 35px;
      color: $secondary-font;
    }
  }
}

.page-search{
  position: absolute;
  right: 0;
  top: 224px;
  margin-right: 5px;
  input{
    width: 205px;
  }
}

.top-buttons {
  margin: 0 10px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  color: $primary-font;
  .btn-group {
    background-color: $primary;
    .btn.btn-default.dropdown-toggle {
      width: 125px;
    }
    .dropdown-menu{
      width: 125px;
    }
  }
}

.cart.pull-right{
  margin: 8px;
  color: $primary-font;

}