// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 996px;
  max-width: 100%;
  background-color: #fcfcfc;
}

h1{
  text-align: center;
}


.panel.panel-default {
  width: 100%;
  .panel-body {
    margin: 0 auto;
    .admin_link {
      width: 100%;
      text-align: center;
      font-size: 15px;
      text-align: center;
      .qty-stuff {
        display: inline-block;
      }
      .form-group {
        margin: 0;
        select.form-control {
          width: 50px;
          height: 20px;
          margin: 0 auto;
        }
      }
    }
  }
  .panel-heading {
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px auto;
    text-align: center;
  }
}

.bottom_links{
  text-align: center;
  margin: 0 auto;
  clear: both;
}


.form_label{
  min-width: 20%;
  max-width: 30%;
  height: 100px;
  text-align: center;
  margin: 10px auto;
}

.description{
  margin: 0 auto;
  clear: both;
  #product_description{
    width: 100%;
    height: 100px;
  }
}

.submit{
  margin: 0 auto;
  clear: both;
}