%p#notice= notice
.container
  %h1 Listing Products
  %br
  %table
    %tbody
      - @products.each do |product|
        %tr
          %td.product_name= product.name
          %td.admin_link= link_to 'Show more', product_path(product.permalink)
          %td.admin_link= product.price